$black: #000;
$white: #fff;
$disabled: #e8e8e8;
$disabled-text: #b5b5b5;
$text: #262626;
$text-darker: #1c1c1c;
$text-lighter: #919191;
$text-light: #a7abb3;
$background: #fcfffd;
$background: #f9fbfc;

$neutral: #f0f0f0;
$neutral-dark: #dbd9d9;

$primary: #009e4d;
$primary-dark: #016632;
$primary-darkest: #003d1e;
$primary-light: #b2e2c9;
$primary-lightest: #e5f5ed;

$secondary: #f5b700;
$secondary-dark: #f5a300;
$secondary-darkest: #805500;
$secondary-light: #fce9b2;
$secondary-lightest: #fef4d9;

$red: #ff1d15;
$red-dark: #b50d07;
$red-darkest: #690804;
$red-light: #ffbbb8;
$red-lightest: #ffdddc;

$warning: #ff7b01;
$warning-dark: #612f01;
$warning-light: #f2bd8d;
$warning-lightest: #ffd7b3;

$blue: #083d77;
$blue-dark: #052f5f;
$blue-light: #2364aa;
$blue-lightest: #083f7726;
$blue-lightest-no-op: #dae2eb;
$blue-light-no-op: #c1d3e8;

$pink: #f45897;
$pink-light: #fde6f0;

$gold: #ffd700;

$btn: linear-gradient(180deg, hsla(0, 0%, 100%, 0.08), hsla(0, 0%, 0%, 0.08)), hsla(0, 0%, 100%, 0.16);
