@using System.Text
@inject IJSRuntime JS;
@inject PDFConversionService PDFConversionService

<section class="editor">
    <EditorBar @ref="_editorBar" />
    <div id="konva-container" @onclick="onEditorClicked"  @ontouchend="onEditorClicked"></div>
    <button @onclick="Save">Save to pdf</button>
    <button @onclick="SaveToPdf">Save to pdf iText</button>
</section>

@code {
    [Parameter]
    public Action EditorClicked { get; set; }

    private IJSObjectReference? _module;
    private EditorBar? _editorBar;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/modules/saveToPdf.js");
            Console.WriteLine(Directory.Exists("js"));
        }
    }

    private void Save()
    {
        if (_module != null)
        {
            _module.InvokeVoidAsync("saveToPdfFromJson");
        }
    }

    public async Task SaveToPdf()
    {
        if (_module != null)
        {
            string jsonToRender = await _module.InvokeAsync<string>("getJsonToRender");
            Console.WriteLine(jsonToRender);
            float[] dimensions = await _module.InvokeAsync<float[]>("getDimensions");
            byte[] pdfBytes = await PDFConversionService.SaveToPdf(jsonToRender, dimensions);
            string timeStamp = DateTime.Now.ToString("yyyyMMddHHmmssffff");
            string fileName = $"{timeStamp}.pdf";
            string fileType = "application/pdf";
            await JS.InvokeVoidAsync("downloadFile", pdfBytes, fileName, fileType);
        }
    }

    private void onEditorClicked()
    {
        _editorBar?.getUndoRedoStates();
        InvokeAsync(EditorClicked);
    }
}
