<section class="editor">
    <EditorBar />
    <div id="konva-container" @onclick="OnKonvaClicked">

    </div>
</section>

@code {
    [Parameter]
    public Action KonvaClicked { get; set; }

    private void OnKonvaClicked()
    {
        InvokeAsync(KonvaClicked);
    }
}
