<section class="editor-bar">
    <div class="undo-redo">
        <button>
            @((MarkupString)CustomIcons.Undo())
        </button>
        <button>
            @((MarkupString)CustomIcons.Redo())
        </button>
    </div>
    <div class="switch-sides">
        <button>
            Recto
            @((MarkupString)CustomIcons.Rotate())
        </button>
    </div>
    
    <div class="flip">
        <button>
            @((MarkupString)CustomIcons.Flip())
        </button>
    </div>
    
</section>

@code {

}
