@inject IJSRuntime JS;

<section class="editor">
    <EditorBar EditorClicked="EditorClicked" @ref="_editorBar" />
    <div id="konva-container" @onclick="onEditorClicked" @ontouchend="onEditorClicked"></div>
    <button @onclick="Save">Save to pdf</button>
    @if (Loading)
    {
        <div class="loader">
            <Loader></Loader>
        </div>
    }
</section>

@code {
    [Parameter]
    public Action EditorClicked { get; set; }

    [Parameter]
    public bool Loading { get; set; }

    private IJSObjectReference? _module;
    private EditorBar? _editorBar;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/modules/saveToPdf.js");
        }
    }

    private void Save()
    {
        if (_module != null)
        {
            _module.InvokeVoidAsync("saveToPdfFromJson");
        }
    }

    private void onEditorClicked()
    {
        _editorBar?.getUndoRedoStates();
        InvokeAsync(EditorClicked);
    }
}
