@inject IJSRuntime JS

<section class="editor-bar">
    <div class="undo-redo">
        <button @onclick="Undo">
            @((MarkupString)CustomIcons.Undo())
        </button>
        <button @onclick="Redo">
            @((MarkupString)CustomIcons.Redo())
        </button>
    </div>
    <div class="switch-sides">
        <button @onclick="SwitchSides">
            Recto
            @((MarkupString)CustomIcons.Rotate())
        </button>
    </div>
    
    <div class="flip">
        <button @onclick="Flip">
            @((MarkupString)CustomIcons.Flip())
        </button>
    </div>
    
</section>

@code {
    private IJSObjectReference? _module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/modules/state.js");
        }
    }

    private void SwitchSides()
    {
        if (_module != null)
        {
            _module.InvokeVoidAsync("switchSides");
        }
    }

    private void Flip()
    {
        if (_module != null)
        {
            _module.InvokeVoidAsync("flip");
        }
    }

    private void Undo()
    {
        if (_module != null)
        {
            _module.InvokeVoidAsync("undo");
        }
    }

    private void Redo()
    {
        if (_module != null)
        {
            _module.InvokeVoidAsync("redo");
        }
    }
}
