@inject IJSRuntime JS

<article class="appearance-content">
    <h3>Appearance</h3>
    <div>
        <div>
            <h4>Opacity</h4>
            <Slider value="@opacity"
                    unit="%"
                    handleValue="@changeOpacity" />
        </div>
        <div>
            <h4>Shadow</h4>
            <Slider value="@shadow"
                    unit="%"
                    handleValue="@changeShadow" />
        </div>
    </div>
</article>

@code {
    [Parameter]
    public IJSObjectReference? Module { get; set; }
    private int opacity = 100;
    private int shadow = 0;

    private void changeOpacity(int value)
    {
        opacity = value;
        double newOpacity = opacity / 100.0;
        if (Module != null)
        {
            Module.InvokeVoidAsync("handleTransparencyChange", newOpacity);
        }
    }

    private void changeShadow(int value)
    {
        shadow = value;
        double newShadow = shadow / 100.0;
        if (Module != null)
        {
            Module.InvokeVoidAsync("handleShadowChange", newShadow);
        }
    }
}

