button {
  color: #919191;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 100%;
  padding: 0.5rem;
  background: linear-gradient(180deg, hsla(0deg, 0%, 100%, 0.08), hsla(0deg, 0%, 0%, 0.08)), hsla(0deg, 0%, 60%, 0.16);
  border: 1px solid #dbd9d9;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 5px, rgba(0, 0, 0, 0.06) 0px 1px 3px;
  cursor: pointer;
}
button ::deep svg {
  width: 1rem;
  height: 1rem;
}
button:hover {
  color: #262626;
}
button.selected {
  background: #f0f0f0;
  color: #262626;
  border: 1px solid #009e4d;
}

.control-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.control-content h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
.control-content > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.control-content > div .controls {
  display: flex;
  justify-content: space-between;
}
.control-content > div .position {
  position: relative;
}
.control-content > div .position button {
  width: 100%;
}
.control-content > div .position .position-popup {
  position: absolute;
  top: -9rem;
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  background: #f0f0f0;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 5px, rgba(0, 0, 0, 0.06) 0px 1px 3px;
}
.control-content > div .position .position-popup ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.control-content > div .position .position-popup ul li {
  color: #919191;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.control-content > div .position .position-popup ul li:hover {
  color: #262626;
}
.control-content > div button {
  color: #262626;
}
.control-content > div button:hover {
  background: #f0f0f0;
}
