@import "../../wwwroot/css/colors.scss";
@import "../../wwwroot/css/config.scss";

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 100%;
    padding: 0.5rem;
    background: $neutral;
    border: 1px solid $neutral-dark;
    border-radius: $border-radius-s;
    cursor: pointer;

    ::deep svg {
        width: 1rem;
        height: 1rem;
    }

    &:hover {
        background: $neutral-dark;
        color: $text;

        ::deep svg {
            color: $text;
        }
    }

    &.selected {
        color: $text;
        border: 1px solid $primary;

        ::deep svg {
            color: $text;
        }
    }
}

.control-content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    h3 {
        font-size: 1.1rem;
        font-weight: 600;
    }

    & > div {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .controls {
            display: flex;
            justify-content: space-between;

            @media (max-width: $lxl) {
                flex-direction: column;
                gap: 0.5rem;
            }
        }

        .position {
            position: relative;

            button {
                width: 100%;
            }

            .position-popup {
                position: absolute;
                top: -9rem;
                width: 100%;
                padding: 0.5rem 0;
                display: flex;
                justify-content: center;
                background: $neutral;
                border-radius: $border-radius-s;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    li {
                        color: $text-lighter;
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        cursor: pointer;

                        &:hover {
                            color: $text;
                        }
                    }
                }
            }
        }
    }
}
