@import "../../wwwroot/css/colors.scss";
@import "../../wwwroot/css/config.scss";

.elements-content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    h3 {
        font-size: 1.1rem;
        font-weight: 600;
    }

    & > div {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: $transition;

            h4 {
                width: 30%;
            }
        }
    }
}
