@inject IJSRuntime JS

<article class="elements-content">
    <h3>Fill</h3>
    <div>
        <div>
            <h4>Color</h4>
            <ColorInput fontColor="@_fillColor"
                        handleColor="@ChangeColor" />
        </div>
    </div>
</article>

@code {
    [Parameter]
    public IJSObjectReference? Module { get; set; }

    private string _fillColor = "#000000";

    protected override async Task OnParametersSetAsync()
    {
        Dictionary<string, JsonElement> values = await Module.InvokeAsync<Dictionary<string, JsonElement>>("getValues");
        _fillColor = values["fill"].ToString();
        StateHasChanged();
    }

    private void ChangeColor(string color)
    {
        _fillColor = color;
        if (Module != null)
        {
            Module.InvokeVoidAsync("handleColorChange", _fillColor);
        }
    }
}