.image-style-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.image-style-content h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
.image-style-content > div {
  display: flex;
}
.image-style-content > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.image-style-content > div > div ::deep input {
  display: none;
}
.image-style-content > div > div:first-child {
  width: 30%;
}
.image-style-content > div > div:first-child img {
  display: flex;
  align-items: center;
  width: 80%;
  border-radius: 6px;
  cursor: pointer;
}
.image-style-content > div > div:last-child {
  width: 70%;
}
.image-style-content > div > div:last-child label {
  width: 100%;
  color: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background: linear-gradient(180deg, hsla(0deg, 0%, 100%, 0.08), hsla(0deg, 0%, 0%, 0.08)), hsla(0deg, 0%, 60%, 0.16);
  border: 1px solid #dbd9d9;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 5px, rgba(0, 0, 0, 0.06) 0px 1px 3px;
  cursor: pointer;
}
.image-style-content > div > div:last-child label:hover {
  background: #f0f0f0;
}
