.image-style-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.image-style-content h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
.image-style-content > div {
  display: flex;
}
.image-style-content > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.image-style-content > div > div ::deep input {
  display: none;
}
.image-style-content > div > div:first-child {
  width: 30%;
}
.image-style-content > div > div:first-child img {
  display: flex;
  align-items: center;
  width: 80%;
  border-radius: 6px;
  cursor: pointer;
}
.image-style-content > div > div:last-child {
  width: 70%;
}
.image-style-content > div > div:last-child label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  background: #f0f0f0;
  border: 1px solid #dbd9d9;
  border-radius: 6px;
  cursor: pointer;
}
.image-style-content > div > div:last-child label ::deep svg {
  width: 1rem;
  height: 1rem;
}
.image-style-content > div > div:last-child label:hover {
  background: #dbd9d9;
  color: #262626;
}
.image-style-content > div > div:last-child label:hover ::deep svg {
  color: #262626;
}
