@import "../../wwwroot/css/colors.scss";
@import "../../wwwroot/css/config.scss";

.styling-bar {
    width: 20rem;
    background-color: $white;
    border-radius: 0 $border-radius $border-radius 0;

    .content-header {
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid $neutral-dark;

        h2 {
            font-size: 1.5rem;
            font-weight: 800;
        }
    }

    .content {
        height: calc(100% - 4rem);
        box-shadow: $shadow-m;
    }
}
