@inject IJSRuntime JS

<section class="styling-bar">
    <div class="content-header">
        <h2>@_selectedNode</h2>
    </div>
    <div class="content">
        @switch (_selectedNode)
        {
            case "Text":
                <TextStyleContent />
                <AppearanceContent Module="_module"/>
                <ControlContent />
                break;
            case "Image":
                <ImageStyleContent />
                <AppearanceContent Module="_module" />
                <BorderContent Module="_module" />
                <ControlContent />
                break;
            case "Shape":
                <ElementStyleContent />
                <AppearanceContent Module="_module" />
                <BorderContent Module="_module"/>
                <ControlContent />
                break;
            case "Selecting":
                <AppearanceContent Module="_module" />
                <ControlContent />
                break;
            default:
                <LabelStyleContent />
                break;
        }
    </div>
</section>

@code {
    private bool selecting = true;
    private string _selectedNode = "";
    private IJSObjectReference? _module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/modules/stylingBar.js");
        }
    }

    public async Task SetSelectedItem()
    {
        _selectedNode = await _module.InvokeAsync<string>("getSelectedItemType");
        StateHasChanged();
    }
}
