@import "../../wwwroot/css/colors.scss";
@import "../../wwwroot/css/config.scss";

.styling-bar {
    width: 20rem;
    background-color: $white;
    border-radius: 0 $border-radius $border-radius 0;
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.15);
    z-index: 100;

    .content-header {
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $neutral-dark;

        h2 {
            font-size: 1.5rem;
            font-weight: 800;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        height: calc(100% - 4rem);
        padding: 1rem;
        overflow-y: auto;
        scrollbar-width: thin;
    }
}
