input[type=text], input[type=number] {
  width: 100%;
  background: #fff;
  border: 1px solid #dbd9d9;
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
}
input[type=text][type=number], input[type=number][type=number] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
input[type=text][type=number]::-webkit-outer-spin-button, input[type=text][type=number]::-webkit-inner-spin-button, input[type=number][type=number]::-webkit-outer-spin-button, input[type=number][type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=text]:focus, input[type=number]:focus {
  outline: none;
  border-color: #009e4d;
  box-shadow: 0 2px 6px #e5f5ed;
}

.color-input {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  width: 70%;
  border-radius: 6px;
}
.color-input input[type=text] {
  width: 80%;
}
.color-input input[type=color] {
  width: 15%;
  padding: 0;
  border: 1px solid #dbd9d9;
  border-radius: 6px;
}
.color-input input[type=color]::-webkit-color-swatch {
  border: #f0f0f0;
  border-radius: 6px;
}
