@import "../../../wwwroot/css/colors.scss";
@import "../../../wwwroot/css/config.scss";

.slider {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 70%;
    border-radius: $border-radius-s;

    p {
        color: $text-lighter;
        font-weight: 600;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1rem;
        cursor: pointer;
        pointer-events: none;
    }

    input[type=range] {
        -webkit-appearance: none;
        position: relative;
        width: 100%;
        height: 2rem;
        background: $neutral;
        border: 1px solid $neutral-dark;
        border-radius: $border-radius-s;
        outline: none;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 0.5rem;
        height: 2rem;
        border: none;
        border-radius: $border-radius-m;
        background: $neutral-dark;
        cursor: pointer;
    }

    input[type=range]::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 0.5rem;
        height: 1.5rem;
        border: none;
        border-radius: $border-radius-m;
        background: $neutral-dark;
        cursor: pointer;
    }

    input[type=range]:active,
    input[type=range]:hover {
        &::-webkit-slider-thumb {
            height: 2.5rem;
        }
    }
}
