@import "../../wwwroot/css/colors.scss";
@import "../../wwwroot/css/config.scss";

button {
    color: $text-lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 100%;
    padding: 0.5rem;
    background: $btn-dark;
    border: 1px solid $neutral-dark;
    border-radius: $border-radius-s;
    box-shadow: $shadow-s;
    cursor: pointer;

    ::deep svg {
        width: 1rem;
        height: 1rem;
    }

    &:hover {
        color: $text;
    }

    &.selected {
        background: $neutral;
        color: $text;
        border: 1px solid $primary;
    }
}

.codes-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h3 {
            font-size: 1.1rem;
            font-weight: 600;
        }

        button {
            color: $text;

            &:hover {
                background: $neutral;
            }
        }

        input {
            color: $text;
            font-size: 1rem;
            padding: 0.5rem 0.75rem;
            border: 1px solid $neutral-dark;
            border-radius: $border-radius-s;
            transition: $transition;
            width: calc(100% - 0.5rem);

            /*&[type="number"] {
                -webkit-appearance: none;
                -moz-appearance: textfield;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
            }*/

            &:focus {
                border-color: $primary;
                outline: none;
                box-shadow: 0 2px 6px $primary-lightest;
            }
        }
    }
}
