<article class="codes-content">
    <div>
        <h3>Barcode</h3>
        <input type="text" />
    </div>
    <div>
        <h3>QR code</h3>
        <input type="text" />
    </div>
</article>

@code {

}
