.elements-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.elements-content > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.elements-content > div h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
.elements-content > div > div {
  position: relative;
  margin-left: 0.5rem;
}
.elements-content > div > div ul {
  display: flex;
  gap: 0.5rem;
  overflow-x: hidden;
}
.elements-content > div > div ul li {
  padding: 0.5rem;
  background: linear-gradient(180deg, hsla(0deg, 0%, 100%, 0.08), hsla(0deg, 0%, 0%, 0.08)), hsla(0deg, 0%, 60%, 0.16);
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}
.elements-content > div > div ul li:hover {
  border: 2px solid #dbd9d9;
}
.elements-content > div > div ul li img {
  width: 3rem;
}
.elements-content > div > div button {
  position: absolute;
  bottom: 0rem;
  height: 100%;
  width: 2rem;
  padding: 0;
  border: none;
  cursor: pointer;
}
.elements-content > div > div button ::deep svg {
  height: 1.5rem;
  width: 1.5rem;
}
.elements-content > div > div button.right {
  right: 0;
  text-align: end;
  background: linear-gradient(270deg, #fff 50%, transparent 100%);
}
.elements-content > div > div button.left {
  text-align: start;
  background: linear-gradient(90deg, #fff 50%, transparent 100%);
}
