@import "../../wwwroot/css/colors.scss";
@import "../../wwwroot/css/config.scss";

.elements-content {
    div {
        ul {
            overflow-x: auto;
            white-space: nowrap;
            width: 100%;
            scrollbar-width: none;

            li {
                display: inline-block;
                width: 5rem;
                background: $btn-dark;
                border-radius: $border-radius;
                margin-right: 20px;
                cursor: pointer;

                img {
                    width: calc(100% - 2rem);
                    margin: 1rem;
                }
            }
        }
    }
}
/*
.templates-content {

    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        li {
            width: 8rem;
            background: $btn-dark;
            border-radius: $border-radius;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
                width: 60%;
                margin: 1rem 0;
            }
        }
    }
}*/



