@inject IJSRuntime JS;

<article class="elements-content">
    <div class="elements-header">
        <h3 @onclick="() => _shapesSelected = true" class="@(_shapesSelected ? "selected" : "")">Shapes</h3>
        <h3 @onclick="() => _shapesSelected = false" class="@(!_shapesSelected ? "selected" : "")">Icons</h3>
    </div>
    <div class="elements-list">
        <ul>
            @if (_shapesSelected)
            {
                foreach (var shape in shapes)
                {
                    <li @onclick="() => AddElement(shape)">
                        @((MarkupString)shape)
                    </li>
                }
            }
            else
            {
                @for (int i = 0; i < 19; i++)
                {
                    <li>
                        <img src="../../sample-data/icon.png" alt="icon" />
                    </li>
                }
            }
        </ul>
    </div>
</article>

@code {
    private IJSObjectReference? _module;
    private bool _shapesSelected = true;

    List<string> shapes = new List<string>
{
    // Rectangle
    @"<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M2 2h20v20H2z' /></svg>",
    // Filled circle
    @"<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M12 22c5.523 0 10 -4.477 10 -10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z'/></svg>",
    // Triangle
    @"<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M12 3L2 21h20z' /></svg>",
    // Parallelogram
    @"<svg viewBox='0 0 97.5 97.5' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M10,20 L90,20 L70,80 L30,80 Z'/></svg>",
    // Pentagon
    @"<svg viewBox='0 0 512.01 512.01' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M507.804,200.28L262.471,12.866c-3.84-2.923-9.131-2.923-12.949,0L4.188,200.28c-3.605,2.773-5.077,7.531-3.648,11.84 l93.717,281.92c1.451,4.373,5.525,7.296,10.133,7.296h303.253c4.587,0,8.683-2.944,10.133-7.296l93.717-281.92 C512.882,207.789,511.41,203.053,507.804,200.28z' /></svg>",
    // Hexagon
    @"<svg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M50,5 L95,30 L95,70 L50,95 L5,70 L5,30 Z' /></svg>",
    // Diamond
    @"<svg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M50,5 L80,30 L50,95 L20,30 Z' /></svg>",
    // Star
    @"<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M12 2l2.29 7.06h7.43l-6.01 4.36 2.29 7.06-5.99-4.36-6 4.36 2.29-7.06-6.01-4.36h7.43z' /></svg>",
    // Heart
    @"<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z' /></svg>",
    // Blob s
    @"<svg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M994 112c-703-2-920.47 400.35-904 905 13.35 409 32.03 946.66 977 861 684-62 792-279 835-777 61.67-714.25-288.33-987.24-908-989Z' /></svg>",
    @"<svg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M70.93 687.44C94 439 234.2 293.95 381.02 188.24 527.84 82.53 887.27-.87 1159.77 82.53c272.5 83.4 553.55 115.11 673.78 302.45 120.23 187.35 114.36 417.56 87.35 671.27-27.02 253.71-150.35 364.12-335.93 543.83-185.58 179.71-590.81 176.19-973.73 106.89C228.33 1637.67 257 1468 149.63 1259.45c-91.86-178.42-96.18-383.72-78.7-572.02Z' /></svg>",
    @"<svg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M1524.45 723.55C1320.78 448.64 1099.04 29.5 906.98 62.32 733.88 91.9 602.27 447 436.26 735.34c-138.69 240.88-505.04 690.78-290.8 902.83 139.86 138.44 460.78 71.54 865.54 79.75 300.95 6.1 748.4 91.56 876.99-126.19 132.63-224.59-174.48-612.99-363.54-868.18Z' /></svg>",
    // Blob m
    @"<svg viewBox='0 0 480 480' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M460,285Q441,330,401,352Q361,374,323,377Q285,380,253,399Q221,418,179.5,417Q138,416,128.5,372Q119,328,72,307Q25,286,17,238.5Q9,191,59,168Q109,145,127.5,111Q146,77,182,52Q218,27,255.5,51.5Q293,76,323.5,94.5Q354,113,401,130Q448,147,463.5,193.5Q479,240,460,285Z'/></svg>",
    @"<svg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M1386.57 181.4c160.9 73.74 328.5 149.72 424.59 281.57 96.09 129.61 118.44 315.09 98.33 487.16-20.11 172.07-84.92 332.97-187.71 446.94-105.03 116.2-250.29 185.48-391.07 243.58-138.55 60.34-272.63 109.5-393.31 91.62-122.91-17.88-234.64-102.8-377.66-160.9-143.02-58.1-317.33-87.15-406.71-183.24-89.39-96.09-96.09-261.46 2.23-368.72 98.33-109.5 301.68-160.9 384.37-270.4 82.68-111.73 42.46-283.81 84.92-422.36C669.24 188.1 798.86 80.83 937.41 60.72c140.79-20.11 290.51 49.16 449.17 120.67Z' /></svg>",
    @"<svg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M1912 1209c27-319-72-699-318-882-187-139-462-224-785-204S85 468 84 880c0 455 481 345 636 484s139 514 477 516c386 3 693-420 715-671Z' /></svg>",
    // Blob l
    @"<svg viewBox='0 0 480 480' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M426.5,299Q445,358,380,364Q315,370,277.5,410.5Q240,451,181,448Q122,445,116,380Q110,315,64.5,277.5Q19,240,64.5,202.5Q110,165,124,114Q138,63,189,49Q240,35,294.5,43Q349,51,374,99.5Q399,148,403.5,194Q408,240,426.5,299Z'/></svg>",
    @"<svg viewBox='0 0 480 480' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M433.5,270.5Q388,301,373.5,330Q359,359,335,385Q311,411,275.5,416Q240,421,197.5,433.5Q155,446,117.5,423Q80,400,76,354.5Q72,309,36.5,274.5Q1,240,39.5,206.5Q78,173,101.5,149Q125,125,141.5,83Q158,41,199,37Q240,33,269.5,66Q299,99,326.5,112.5Q354,126,369,153Q384,180,431.5,210Q479,240,433.5,270.5Z'/></svg>",
    @"<svg viewBox='0 0 480 480' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M408.5,272Q395,304,372.5,327Q350,350,326.5,371Q303,392,271.5,419Q240,446,202.5,433.5Q165,421,131,402Q97,383,65.5,354Q34,325,59.5,282.5Q85,240,89,209.5Q93,179,92.5,135.5Q92,92,129.5,78Q167,64,203.5,74.5Q240,85,284.5,54.5Q329,24,364.5,52Q400,80,414.5,121Q429,162,425.5,201Q422,240,408.5,272Z'/></svg>",
    // Blob xl
    @"<svg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M1891 560c0-277-224-509-501-499-372 13-397 281-504 302s-215-179-511-75a459 459 0 0 0-222 218C10 809 262 886 259 992s-201 171-82 395c34 64 99 127 212 141 56 6 103 47 115 102a377 377 0 0 0 383 310c222 2 528-202 380-536-42-97 30-123 73-194s-11-120 128-156c233-61 423-246 423-494Z' /></svg>",
    @"<svg viewBox='0 0 480 480' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M418.5,273.5Q447,307,436.5,341Q426,375,379,370.5Q332,366,310,376.5Q288,387,264,405Q240,423,217.5,400Q195,377,164.5,381.5Q134,386,98,377.5Q62,369,45.5,339Q29,309,55.5,274.5Q82,240,49.5,204Q17,168,63,156.5Q109,145,125.5,125Q142,105,158.5,72.5Q175,40,207.5,21.5Q240,3,269,33Q298,63,319,82.5Q340,102,381.5,104.5Q423,107,426,143Q429,179,409.5,209.5Q390,240,418.5,273.5Z'/></svg>",
    @"<svg viewBox='0 0 480 480' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M437,269.5Q420,299,390,313Q360,327,358.5,364Q357,401,322,393Q287,385,263.5,407.5Q240,430,208.5,432Q177,434,147,422Q117,410,85.5,392.5Q54,375,77,330Q100,285,77.5,262.5Q55,240,67,214Q79,188,83,158.5Q87,129,119.5,124Q152,119,171.5,104Q191,89,215.5,66.5Q240,44,267.5,57Q295,70,311.5,94Q328,118,367,118.5Q406,119,420.5,148Q435,177,444.5,208.5Q454,240,437,269.5Z'/></svg>",
};


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/modules/layers/elementLayer.js");
        }
    }

    private void AddElement(string element)
    {
        _module?.InvokeVoidAsync("addElement", element);
    }
}
