@inject IJSRuntime JS;

<article class="elements-content">
    <div class="elements-header">
        <h3 @onclick="() => _shapesSelected = true" class="@(_shapesSelected ? "selected" : "")">Shapes</h3>
        <h3 @onclick="() => _shapesSelected = false" class="@(!_shapesSelected ? "selected" : "")">Icons</h3>
    </div>
    <div class="elements-list">
        <ul>
            @if (_shapesSelected)
            {
                foreach (var shape in shapes)
                {
                    <li @onclick="() => AddElement(shape)">
                        @((MarkupString)shape)
                    </li>
                }
            }
            else
            {
                @for (int i = 0; i < 19; i++)
                {
                    <li>
                        <img src="../../sample-data/icon.png" alt="icon" />
                    </li>
                }
            }
        </ul>
    </div>
</article>

@code {
    private IJSObjectReference? _module;
    private bool _shapesSelected = true;

    List<string> shapes = new List<string>
{
    // Rectangle
    @"<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M2 2h20v20H2z' /></svg>",
    // Filled circle
    @"<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M12 22c5.523 0 10 -4.477 10 -10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z'/></svg>",
    // Triangle
    @"<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M12 3L2 21h20z' /></svg>",
    // Diamond
    @"<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M12 2L2 12l10 10 10-10z' /></svg>",
    // Heart
    @"<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z' /></svg>",
    // Hexagon
    @"<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M12 2l-8 6v8l8 6 8-6v-8l-8-6z' /></svg>",
    // Blob
    @"<svg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M1386.57 181.4c160.9 73.74 328.5 149.72 424.59 281.57 96.09 129.61 118.44 315.09 98.33 487.16-20.11 172.07-84.92 332.97-187.71 446.94-105.03 116.2-250.29 185.48-391.07 243.58-138.55 60.34-272.63 109.5-393.31 91.62-122.91-17.88-234.64-102.8-377.66-160.9-143.02-58.1-317.33-87.15-406.71-183.24-89.39-96.09-96.09-261.46 2.23-368.72 98.33-109.5 301.68-160.9 384.37-270.4 82.68-111.73 42.46-283.81 84.92-422.36C669.24 188.1 798.86 80.83 937.41 60.72c140.79-20.11 290.51 49.16 449.17 120.67Z' /></svg>",
    // Blob
    @"<svg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M1912 1209c27-319-72-699-318-882-187-139-462-224-785-204S85 468 84 880c0 455 481 345 636 484s139 514 477 516c386 3 693-420 715-671Z' /></svg>",
    // Blob
    @"<svg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M1891 560c0-277-224-509-501-499-372 13-397 281-504 302s-215-179-511-75a459 459 0 0 0-222 218C10 809 262 886 259 992s-201 171-82 395c34 64 99 127 212 141 56 6 103 47 115 102a377 377 0 0 0 383 310c222 2 528-202 380-536-42-97 30-123 73-194s-11-120 128-156c233-61 423-246 423-494Z' /></svg>",
    // Blob
    @"<svg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M994 112c-703-2-920.47 400.35-904 905 13.35 409 32.03 946.66 977 861 684-62 792-279 835-777 61.67-714.25-288.33-987.24-908-989Z' /></svg>",
    // Blob
    @"<svg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M70.93 687.44C94 439 234.2 293.95 381.02 188.24 527.84 82.53 887.27-.87 1159.77 82.53c272.5 83.4 553.55 115.11 673.78 302.45 120.23 187.35 114.36 417.56 87.35 671.27-27.02 253.71-150.35 364.12-335.93 543.83-185.58 179.71-590.81 176.19-973.73 106.89C228.33 1637.67 257 1468 149.63 1259.45c-91.86-178.42-96.18-383.72-78.7-572.02Z' /></svg>",
    // Blob
    @"<svg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'><path fill='#000000' d='M1524.45 723.55C1320.78 448.64 1099.04 29.5 906.98 62.32 733.88 91.9 602.27 447 436.26 735.34c-138.69 240.88-505.04 690.78-290.8 902.83 139.86 138.44 460.78 71.54 865.54 79.75 300.95 6.1 748.4 91.56 876.99-126.19 132.63-224.59-174.48-612.99-363.54-868.18Z' /></svg>",
};


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/modules/layers/elementLayer.js");
        }
    }

    private void AddElement(string element)
    {
        _module?.InvokeVoidAsync("addElement", element);
    }
}
