@import "../../wwwroot/css/colors.scss";
@import "../../wwwroot/css/config.scss";

.images-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .input-file-container {
        padding: 1rem;
        border: 2px dashed $neutral-dark;
        border-radius: $border-radius-s;
    }

    .images-container {
        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1rem;

            li {
                width: 40%;
                cursor: pointer;
                display: flex;
                align-items: center;

                &:hover {
                    transform: translateX(0);

                    img {
                        transform: scale(1.05);
                    }
                }

                img {
                    width: 100%;
                    transition: $transition;
                    border: 1px solid $neutral-dark;
                    border-radius: $border-radius-s;
                    box-shadow: $shadow-m;
                }
            }
        }
    }
}
