@inject IJSRuntime JS;

<article class="images-content">
    <div class="input-file-container">
        <InputFile id="change-image-image" class="input-file" OnChange="OnInputFileChange"></InputFile>
    </div>
    <di class="images-container">
        @if (_images.Count > 0)
        {
            <ul>
                @foreach (KeyValuePair<string, string> image in _images)
                {
                    <li>
                        <img src="@image.Value" id="@image.Key" alt="img" />
                    </li>
                }
            </ul>
        }
    </di>
</article>



@code {
    [Parameter]
    public EventCallback OnRendered { get; set; }
    private IJSObjectReference? _module;
    private Dictionary<string, string> _images = new Dictionary<string, string>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/modules/imageLayers.js");
            _images = await _module.InvokeAsync<Dictionary<string, string>>("getAllImages");
            await OnRendered.InvokeAsync();
            StateHasChanged();
        }
    }

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {

        foreach (var file in e.GetMultipleFiles())
        {
            var buffer = new byte[file.Size];
            await file.OpenReadStream().ReadAsync(buffer);
            var imageData = Convert.ToBase64String(buffer);
            var src = $"data:{file.ContentType};base64,{imageData}";
            var key = Guid.NewGuid().ToString();
            _images.Add(key, src);
            // use dictionary to store the image data later
            if (_module != null)
            {
                await _module.InvokeVoidAsync("addImage", key, src);
            }
        }
    }

    public void RemoveImage(string id)
    {
        if (_images.ContainsKey(id))
        {
            _images.Remove(id);
            StateHasChanged();
        }
    }

    public void AddImage(string id, string src)
    {
        _images.Add(id, src);
        StateHasChanged();
    }
}
