.layers {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.layers .layer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 0.5rem;
  border-radius: 6px;
  border: 1px solid #fff;
}
.layers .layer:hover {
  border: 1px solid #dbd9d9;
}
.layers .layer .layer-info {
  width: 75%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.layers .layer .layer-info span {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.layers .layer .layer-info ::deep svg {
  height: 1rem;
  width: 1rem;
  color: #919191;
}
.layers .layer .layer-buttons {
  display: flex;
  align-items: center;
}
.layers .layer .layer-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}
.layers .layer .layer-buttons button:hover {
  background: #f0f0f0;
}
.layers .layer .layer-buttons button ::deep svg {
  height: 1.25rem;
  width: 1.25rem;
  color: #919191;
}
.layers .no-layers {
  text-align: center;
}
.layers .no-layers span {
  color: #919191;
  font-weight: 700;
}
