<article class="properties-content">
    <div>
        <h3>Properties on the label</h3>
        <div class="properties">
            <div>
                <PlantProperty />
            </div>
            <div>
                <PlantProperty />
            </div>
            <div>
                <PlantProperty />
            </div>
        </div>
    </div>
    <div>
        <h3>Choose a known property</h3>
        <div class="add-known-properties">
            <AddPlantProperty />
            <AddPlantProperty />
            <AddPlantProperty />
            <AddPlantProperty />
        </div>
    </div>
    <div>
        <h3>Add a new property</h3>
        <NewPlantProperty />
    </div>
</article>

@code {

}
