@inject IJSRuntime JS

<section id="side-bar-content">
    <div class="content-header">
        <h2>@LabelEditor._SelectedTab</h2>
    </div>
    <div class="content">
        @switch (LabelEditor._SelectedTab)
        {
            case SideBarTabs.Layers:
                <LayersContent @ref="_layersContent" EditorClicked="HandleEditorClicked" />
                break;
            case SideBarTabs.Text:
                <TextContent />
                break;
            case SideBarTabs.Images:
                <ImagesContent />
                break;
            case SideBarTabs.Elements:
                <ElementsContent />
                break;
            case SideBarTabs.Codes:
                <CodesContent />
                break;
            case SideBarTabs.Properties:
                <PropertiesContent />
                break;
        }
    </div>
</section>


@code {
    [CascadingParameter]
    public LabelEditor? LabelEditor { get; set; }

    private LayersContent? _layersContent;

    public void onEditorClicked()
    {
        _layersContent?.GetLayers();
    }

    public void HandleEditorClicked()
    {
        LabelEditor?.HandleEditorClicked();
    }
}
