@import "../../wwwroot/css/colors.scss";
@import "../../wwwroot/css/config.scss";

#side-bar-content {
    width: 20rem;
    background-color: $white;

    .content-header {
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $neutral-dark;

        h2 {
            font-size: 1.5rem;
            font-weight: 800;
        }
    }

    .content {
        width: 100%;
        height: calc(100% - 4rem);
        padding: 1rem;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
    }

    @media (max-width: $lxl) {
        width: 10rem;
    }
}
