<section class="templates-content">
    <ul>
        <li>
            <img src="../../sample-data/label.png" alt="template" />
        </li>
        <li>
            <img src="../../sample-data/label.png" alt="template" />
        </li>
        <li>
            <img src="../../sample-data/label.png" alt="template" />
        </li>
        <li>
            <img src="../../sample-data/label.png" alt="template" />
        </li>
        <li>
            <img src="../../sample-data/label.png" alt="template" />
        </li>
        <li>
            <img src="../../sample-data/label.png" alt="template" />
        </li>
    </ul>
</section>

@code {

}
