.templates-content ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.templates-content ul li {
  width: 8rem;
  background: #f0f0f0;
  border: 1px solid #dbd9d9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.templates-content ul li:hover {
  background: #dbd9d9;
}
.templates-content ul li img {
  width: 60%;
  margin: 1rem 0;
}
