<article class="text-content">
    <h3>Basic text</h3>
    <div class="texts">
        <button class="text-header">
            Add a header
        </button>
        <button class="text-subheader">
            Add a subheader
        </button>
        <button class="text-paragraph">
            Add a paragraph
        </button>
    </div>
</article>

@code {

}
