@import "../../wwwroot/css/colors.scss";
@import "../../wwwroot/css/config.scss";

.text-content {
    display: flex;
    flex-direction: column;

    h3 {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .texts {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: $neutral;
            border: 1px solid $neutral-dark;
            border-radius: $border-radius-s;
            transition: $transition;

            ::deep svg {
                height: 1.25rem;
                width: 1.25rem;
            }

            &:hover {
                background: $neutral-dark;
            }
        }

        .text-header {
            font-size: 1.5rem;
            font-weight: 600;
            padding: 1.25rem 0.75rem;
        }

        .text-subheader {
            font-size: 1.25rem;
            font-weight: 600;
            padding: 1rem 0.75rem;
        }

        .text-paragraph {
            font-size: 1rem;
            font-weight: 400;
            padding: 0.75rem 0.75rem;
        }
    }
}
