@import "../../../wwwroot/css/colors.scss";
@import "../../../wwwroot/css/config.scss";

.add-plant-property {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    width: 100%;
    padding: 0.25rem 0.75rem;
    background: $btn-dark;
    border: 1px solid $neutral-dark;
    border-radius: $border-radius-s;
    box-shadow: $shadow-s;

    div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 100%;

        img {
            height: 100%;
        }
    }

    ::deep svg {
        height: 1.25rem;
        width: 1.25rem;
        color: $text;
    }

    &:hover {
        background: $neutral;
    }
}
