<button class="add-plant-property">
    <div>
        <img src="https://plantfocus.blob.core.windows.net/icons/toepassing.png" />
        <p>Flowering period</p>
    </div>
    @((MarkupString)CustomIcons.Plus())
</button>

@code {

}
