@import "../../../wwwroot/css/colors.scss";
@import "../../../wwwroot/css/config.scss";

.add-plant-property {
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0.75rem;
    background: $neutral;
    border: 1px solid $neutral-dark;
    border-radius: $border-radius-s;
    transition: $transition;

    ::deep svg {
        height: 1.25rem;
        width: 1.25rem;
        color: $text-light;
    }

    &:hover {
        background: $neutral-dark;
    }

    div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 100%;

        p {
            padding: 0.25rem 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        img {
            height: 100%;

            @media (max-width: $lxl) {
                display: none;
            }
        }
    }
}
