<button class="add-plant-property" @onclick="() => OnPropertyAdd.InvokeAsync(PlantProperty)">
    <div>
        <img src="@PlantProperty.Icon" />
        <p>@PlantProperty.Name</p>
    </div>
    @((MarkupString)CustomIcons.Plus())
</button>

@code {
    [Parameter]
    public EventCallback<PlantProperty> OnPropertyAdd { get; set; }

    [Parameter]
    public PlantProperty PlantProperty { get; set; }
}
