.add-new-property {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  .add-new-property {
    flex-direction: column;
    gap: 1rem;
  }
}
.add-new-property .select-container {
  width: 70%;
  position: relative;
}
@media (max-width: 1100px) {
  .add-new-property .select-container {
    width: 100%;
  }
}
.add-new-property .select-container select {
  width: 100%;
  padding: 0.5rem;
  background: #fff;
  border: 1px solid #dbd9d9;
  border-radius: 6px;
  appearance: none;
  cursor: pointer;
}
.add-new-property .select-container select:focus {
  border-color: #009e4d;
  outline: none;
  box-shadow: 0 2px 6px #e5f5ed;
}
.add-new-property .select-container select ~ .icon {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}
@media (max-width: 1100px) {
  .add-new-property .select-container select ~ .icon {
    display: none;
  }
}
.add-new-property .select-container select ~ .icon ::deep svg {
  width: 1.5rem;
  height: 1.5rem;
}
.add-new-property button {
  width: 25%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #f0f0f0;
  border: 1px solid #dbd9d9;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1100px) {
  .add-new-property button {
    width: 50%;
  }
}
.add-new-property button ::deep svg {
  height: 1.25rem;
  width: 1.25rem;
}
.add-new-property button:hover {
  background: #dbd9d9;
}
