@import "../../../wwwroot/css/colors.scss";
@import "../../../wwwroot/css/config.scss";

.add-new-property {
    display: flex;
    justify-content: space-between;
    margin-left: 0.5rem;

    .select-container {
        width: 65%;
        position: relative;

        select {
            width: 100%;
            padding: 0.5rem;
            background: $white;
            border: 1px solid $neutral-dark;
            border-radius: $border-radius-s;
            appearance: none;
            cursor: pointer;

            &:focus {
                border-color: $primary;
                outline: none;
                box-shadow: 0 2px 6px $primary-lightest;
            }

            & ~ .icon {
                position: absolute;
                top: 50%;
                right: 0.5rem;
                transform: translateY(-50%);

                ::deep svg {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }

    button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.25rem 0.75rem;
        border: none;
        background: $btn-dark;
        border-radius: $border-radius-s;

        ::deep svg {
            height: 1.25rem;
            width: 1.25rem;
            color: $text;
        }

        &:hover {
            background: $neutral;
        }
    }
}
