<div class="add-new-property">
    <div class="select-container">
        <select>
            <option>Choose a property</option>
            <option>Flower colour</option>
            <option>Flowering period</option>
            <option>Height</option>
            <option>Width</option>
            <option>Soil type</option>
            <option>Water need</option>
            <option>Light need</option>
            <option>Pruning</option>
            <option>Winter hardiness</option>
            <option>Use</option>
            <option>Planting distance</option>
            <option>Planting depth</option>
            <option>Planting period</option>
        </select>
        <div class="icon">
            @((MarkupString)CustomIcons.ChevronDown())
        </div>
    </div>
    <button>
        @((MarkupString)CustomIcons.Plus())
        Add
    </button>
</div>

@code {

}
