.property .property-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1100px) {
  .property .property-info {
    flex-direction: column;
    align-items: end;
  }
}
.property .property-info .property-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  overflow: hidden;
}
.property .property-info .property-container .property-image-container {
  width: 3rem;
}
.property .property-info .property-container .property-image-container img {
  width: 100%;
}
@media (max-width: 1100px) {
  .property .property-info .property-container .property-image-container {
    display: none;
  }
}
.property .property-info .property-container .property-content-container {
  max-width: 60%;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.25rem;
  margin-right: 1rem;
}
@media (max-width: 1100px) {
  .property .property-info .property-container .property-content-container {
    max-width: 100%;
  }
}
.property .property-info .property-container .property-content-container ul {
  display: flex;
  flex-direction: column;
}
.property .property-info .property-container .property-content-container ul li {
  height: 1rem;
  display: flex;
  gap: 0.25rem;
  font-size: 0.9rem;
  color: #919191;
}
.property .property-info .property-container .property-content-container ul li .property-language {
  text-transform: uppercase;
}
.property .property-info .property-container .property-content-container ul li .property-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.property .property-info .property-buttons {
  display: flex;
}
.property .property-info .property-buttons button {
  padding: 0.15rem;
  border: none;
  background: #fff;
}
.property .property-info .property-buttons button ::deep svg {
  width: 1.15rem;
  height: 1.15rem;
  color: #a7abb3;
}
.property .property-info .property-buttons button ::deep svg:hover {
  color: #ff1d15;
}
.property .property-info .property-buttons button.save:hover ::deep svg {
  color: #009e4d;
}
.property .property-edit {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem;
  transition: all 0.2s ease-in-out;
  border-bottom: 1px solid #dbd9d9;
}
@media (max-width: 1100px) {
  .property .property-edit {
    padding: 0 0.5rem 0.5rem 0.5rem;
  }
}
.property .property-edit > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.property .property-edit > div img {
  width: 10%;
  border-radius: 4px;
}
@media (max-width: 1100px) {
  .property .property-edit > div img {
    display: none;
  }
}
.property .property-edit > div input {
  width: 85%;
  background: #fff;
  border: 1px solid #dbd9d9;
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
}
@media (max-width: 1100px) {
  .property .property-edit > div input {
    width: 100%;
  }
}
.property .property-edit > div input:focus {
  outline: none;
  border-color: #009e4d;
  box-shadow: 0 2px 6px #e5f5ed;
}
