@import "../../../wwwroot/css/colors.scss";
@import "../../../wwwroot/css/config.scss";

.property {
    .property-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem;
        transition: $transition;

        .property-container {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 0.75rem;
            overflow: hidden;

            .property-image-container {
                width: 3rem;

                img {
                    width: 100%;
                }
            }

            .property-content-container {
                max-width: 65%;
                display: flex;
                flex: 1;
                flex-direction: column;
                gap: 0.25rem;
                margin-right: 1rem;

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0 0.5rem;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    li {
                        height: 1rem;
                        display: flex;
                        gap: 0.25rem;
                        font-size: 0.9rem;
                        color: $text-lighter;
                        overflow: hidden;

                        .property-language {
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

        .property-buttons {
            display: flex;

            button {
                padding: 0.15rem;
                border: none;
                background: $white;

                ::deep svg {
                    width: 1.15rem;
                    height: 1.15rem;
                    color: $text-light;

                    &:hover {
                        color: $red;
                    }
                }

                &.save:hover {
                    ::deep svg {
                        color: $primary;
                    }
                }
            }
        }
    }

    .property-edit {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.75rem;
        transition: $transition;
        border-bottom: 1px solid $neutral-dark;

        & > div {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            img {
                width: 10%;
                border-radius: $border-radius-xs;
            }

            input {
                width: 85%;
                background: $white;
                border: 1px solid $neutral-dark;
                border-radius: $border-radius-s;
                padding: 0.25rem 0.5rem;

                &:focus {
                    outline: none;
                    border-color: $primary;
                    box-shadow: 0 2px 6px $primary-lightest;
                }
            }
        }
    }
}
