@inject IJSRuntime JS

<CascadingValue Value="this">
    <div class="label-editor">
        <SideBar SelectTab="SelectTab" />
        <SideBarContent />
        <Editor KonvaClicked="HandleKonvaContainerClicked" />
        <StylingBar @ref="_stylingBar" />
    </div>
</CascadingValue>

@code {
    public SideBarTabs _SelectedTab { get; set; } = SideBarTabs.Templates;
    private IJSObjectReference? _module;
    private StylingBar.StylingBar? _stylingBar;

    public void SelectTab(SideBarTabs tab)
    {
        _SelectedTab = tab;
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/modules/state.js");
            if (_module is not null)
            {
                await _module.InvokeVoidAsync("init");
            }
        }
    }

    private void HandleKonvaContainerClicked()
    {
        _stylingBar?.SetSelectedItem();
    }
}
