@import "../wwwroot/css/colors.scss";
@import "../wwwroot/css/config.scss";

.label-editor {
    display: flex;
    height: 95vh;
    width: 97vw;
    margin: 2.5vh 1.5vw;
    background-color: $neutral;
    border-radius: $border-radius;
}
